body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: rgb(179, 185, 190);
}
/* logo and Menu */
.Menu{
    position: fixed;
}

.Menu,.Menu ol,.Menu .logo{
    display: flex; 
    margin-top: 1%; 
  
}
.logo{
    margin: 10px 100px;
    font-size: 40px;
    padding-right: 15%;
}
.logo img{
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}
.Menu ol{
    list-style: none;
   
}
.Menu ol li a{
   text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    color: rgb(179, 185, 190);
    
}
/* Logo and Menu End  */

/*Home*/
.home{
    display: flex;

}
.home .word{
    width: 70%;
    margin: 10%;

}
.home {
    padding-right: 5%;
}
.home h5{
    color: rgb(226, 58, 94);
    padding-top: 20%;
    
}
.home h5,.home h1{
    margin: 0;
}
.home button{
    border-radius:50px ;
    height: 40px;
    margin: 10px 10px;
    padding: 10px ;
    border-style: none;
    font-size: 15px;
    box-shadow: 3px 0px 26px -6px rgba(255, 255, 255, 0.25);




}
.home button:first-of-type{
    width: 100px;
    background-color: rgb(224, 82, 15);
    color: white;

    
}
.home button:last-of-type{
    width: 130px;
    background-color: orange;
    color:black;
}
.home img{
    float: right;
    width: 30%;
    margin: 10% 5% 5% 0;
}
/*Home End*/

/* Service  */
#Service{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}
.paragraph{
    margin: 0 7%;
    width: 30%;
}
.paragraph button{
    background-color: rgb(245, 96, 10);
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    border-style: none;
    text-align: center;
}
.first-card,.second-card{
   display: flex;
}
.first-card .card-1,.first-card .card-2,.second-card .card-3,.second-card .card-4{
    background-color: white;
    border-radius: 5%;
    text-align: center;
   
}
.first-card .card-1,.first-card .card-2,.second-card .card-3,.second-card .card-4{
    margin: 0 2% 5% 5%;
    height: 200px;
    width: 350px;
}
.first-card .card-1 span i,.first-card .card-2 span i,.second-card .card-3 span i,.second-card .card-4 span i{
    margin: 10px;
    background-color: red;
   color: white;
   font-size: 20px;
   padding-top: 22px ;
   border-radius: 50%;
   width: 60px;
   height: 40px;
}
.first-card .card-2 span i{
    background-color: aquamarine;
}
.second-card .card-3 span i{
    background-color: rgb(247, 0, 255);
}
.second-card .card-4 span i{
    background-color: chartreuse;
}
/* Service End */

/* About */
#About{
    margin: 10% ;
}
#About img{
    width: 500px;
    float: left;
    margin: 5% 5% 7% ;
    border-radius: 10px;
}
#About .context{
    margin: 6% 10%;
}
#About h5{
    color: orangered;
}
#About button{
    width: 100px;
    border-radius: 50px;
    height: 30px;
    margin-left: 2%;
    background-color: rgb(247, 65, 65);
    color: white;
    border-style: none;
    box-shadow: rgba(250, 247, 247, 0.35) 0px 5px 15px;
}
#About button:last-child{
    background-color: yellow;
    color: black;
    width: 120px;
}
/* About finished */

/* Portfolio */
#Portfolio .title{
    display: flex;
}
#Portfolio .title .title1 h4{
  color: rgb(177, 125, 29);
  }
#Portfolio .title .title1 h2{
  margin-top: -15px;
}
#Portfolio .title .title1{
   margin-left: 10%;
   width: 100%;
}
#Portfolio .title .title2{
    margin: 0 10% 0 20%;
 }
 #Portfolio .cards{
     display: flex;
     margin: 5% 10%;
 }
 #Portfolio .cards .card1,#Portfolio .cards .card2,#Portfolio .cards .card3{
    height:270px;
   border-style: solid;
   border-width: 0.5px;
   border-color: rgb(53, 42, 42) ;
   padding: 5px;
   margin: 0 15px;
 }
#Portfolio .card1 img,#Portfolio .card2 img,#Portfolio .card3 img{
    width: 300px;
    border-radius: 10px;
}
#Portfolio .card1 h3,#Portfolio .card1 p,#Portfolio .card2 h3,#Portfolio .card2 p,#Portfolio .card3 h3,#Portfolio .card3 p{
    margin-left: 10px;
}
#Portfolio .card2 p{
    margin-bottom: -5px;
}
#Portfolio .card2 span {
   height: 10px;
}
#Portfolio .card2 span i{
    font-size: 7px;
}
#Portfolio .card2 span:first-of-type{
    margin-left: 30%;
}
#Portfolio .card2 span:nth-of-type(4){
    color: red;
}

#Portfolio .cards .card2{
    border-bottom: 0;
}
#Portfolio .cards h3{
    margin-bottom: -10px;
}
#Portfolio .cards p{
    color: rgb(110, 103, 94);
}
/* Left Arrow  */
#Portfolio .cards span:first-child,#Portfolio .cards span:last-child{
    font-size: 30px;
    margin: 10% 0;
}
/* Portfolio finished  */

/* footer */
#Team {
    margin: 10%;
    text-align: center;
}
#Team h4{
    color: rgb(197, 82, 40);
    margin-bottom: -10px;
}
#Team .cards{
    display: flex;
}
#Team .cards .card1,#Team .cards .card2{
    width: 60%;
   
    margin: 5% 0 0 5%;
} 
#Team .cards .card1,#Team .cards .card2{
    text-align: left;
}
#Team .cards .card2{
   margin-right: 5%;
}
#Team .cards  footer{
    margin-bottom: 20px;
    color: rgb(122, 106, 77);
}
#Team .cards  span{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(248, 251, 252);
}
#Team .cards  span:nth-of-type(2){
    color: skyblue;
}
#Team .cards  span:nth-of-type(3){
    color: rgb(243, 193, 86);
}
#Team .cards  span:last-child{
    color: rgb(146, 58, 228);
}
#Team .cards img{
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-right: 25px;
}
/* Meet Our Team  */
.MeetOurTeam h5,.MeetOurTeam h3{
    text-align: center;
    
}
.MeetOurTeam h5{
    margin-top: 5%;
margin-bottom: -15px;
color: rgb(182, 74, 35);
}
.MeetOurTeam .cards{
    display: flex;
    margin-bottom: 15%;
}
.MeetOurTeam .cards .card1,.MeetOurTeam .cards .card2,.MeetOurTeam .cards .card3{
    width: 20%;
    margin-left: 10%;
}
.MeetOurTeam .cards  img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
    border-style: none;
    float: left;
}
.MeetOurTeam .cards .card1 h4,.MeetOurTeam .cards .card2 h4,.MeetOurTeam .cards .card3 h4{
    margin-left: 85px;
    margin-top: -10px;
    color: rgb(126, 124, 121);

}

